doctype html
html
    head
        title!= title
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
        script(src='js/angular-ui-router.min.js')
    body(ui-view)
    	